---
import "$lib/styles/app.css";

import BgmPlayer from "$lib/components/bgm-player.svelte";
import { Toaster } from "$lib/components/ui/sonner";

import AnimationStyle from "astro-vtbot/animations/AnimationStyle.astro";
import { customZoom } from "astro-vtbot/animations/zoom";
import ProgressBar from "astro-vtbot/components/ProgressBar.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  heading?: string;
  class?: string;
}

const { title, heading, class: className } = Astro.props;

const zoom2Scope = customZoom("zoom2", {
  keyframes: { scale: { forwardOut: 0, backwardIn: 0 } },
});
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <ClientRouter />
    <ProgressBar />

    <AnimationStyle name="zoom2" />

    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Toaster client:only="svelte" />

    <main
      class="container flex min-h-screen flex-col items-center justify-center"
    >
      {
        heading && (
          <h1
            id="main-heading"
            class="my-4 scroll-m-20 text-center text-4xl font-extrabold tracking-tight"
            data-astro-transition-scope={zoom2Scope}
          >
            {heading}
          </h1>
        )
      }
      <div class:list={className} transition:name="slide">
        <slot />
      </div>
    </main>

    <BgmPlayer client:only="svelte" transition:persist="bgm-player" />
  </body>
</html>
