---
import "$lib/styles/app.css";

import backgroundJPG from "$lib/assets/images/background.jpg";
import BgmPlayer from "$lib/components/bgm-player.svelte";
import { Toaster } from "$lib/components/ui/sonner";

import AnimationStyle from "astro-vtbot/animations/AnimationStyle.astro";
import { customZoom } from "astro-vtbot/animations/zoom";
import ProgressBar from "astro-vtbot/components/ProgressBar.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  heading?: string;
  class?: string;
}

const { title, heading, class: className } = Astro.props;

const zoom2Scope = customZoom("zoom2", {
  keyframes: { scale: { forwardOut: 0, backwardIn: 0 } },
});
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <ClientRouter />
    <ProgressBar />

    <AnimationStyle name="zoom2" />

    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative">
    <Toaster client:only="svelte" />

    <img
      src={backgroundJPG.src}
      alt="Background"
      class="absolute inset-0 h-full w-full object-cover"
    />

    <main
      class="container flex min-h-screen flex-col items-center justify-center"
    >
      {
        heading && (
          <h1
            style={{ "text-shadow": "0 0 2px white" }}
            id="main-heading"
            class="my-4 scroll-m-20 text-center text-4xl font-extrabold tracking-tight text-white"
            data-astro-transition-scope={zoom2Scope}
          >
            {heading}
          </h1>
        )
      }
      <div
        class:list={[
          "rounded-lg bg-black/45 p-8 text-white backdrop-blur-sm",
          className,
        ]}
        transition:name="slide"
      >
        <slot />
      </div>
    </main>

    <BgmPlayer client:only="svelte" transition:persist="bgm-player" />
  </body>
</html>

<style is:global>
  .swup-progress-bar {
    background: linear-gradient(90deg, #89cff0 0%, #b2ffff 100%);
  }
</style>
